section {
    padding: 100px 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;
}

.intro {
    color: purple;
    font-size: 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 25vw;

}

.para {
    font-family: sans-serif;
    color: #55274F;
    width: 25vw;
}

.stars {
    color: goldenrod;
    font-size: 2rem;
}

.ratings {
    justify-content: space-evenly;

}

.rating {
    margin: 15px 0px;
    padding: 0px 10px;
    background-color: #efeaef;
    border-radius: 8px;
    display: flex;
    justify-content: flex-start;
    width: 500px;
    justify-content: space-evenly;
}

#boom1 {
    margin-left: 0px;
}

#boom2 {
    margin-left: 50px;
}

#boom3 {
    margin-left: 100px;
}

.reviews {
    display: inline;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 100px;
}

.review {
    padding: 30px;
    background-color: #55274F;
    border-radius: 8px;
    width: 20%;
    color: white;
}

img {
    display: inline;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.review p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

.reviewhead {
    display: flex;
    gap: 20px;
}

.reviews h3 {
    margin: 0px;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.reviews h4 {
    margin: 0px;
    font-family: serif;
    font-size: 0.9rem;
    color: pink;

}

.reviews :nth-of-type(2) {
    margin: 50px 0px 50px 0px;
}


.reviews :nth-of-type(3) {
    margin: 100px 0px 0px 0px;
}
/* 
.review :first-of-type{
    margin: 0px 0px 50px 0px;
} */

#R1{
    margin-bottom: 100px;
}



